@charset "UTF-8";

body{
    background-color: #efefef;
    color: rgba(0, 0, 0, 1);
}

div#interface{
    width: 1000px;
    background: #dfdfdf;
    margin: 10px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
    padding: 10px 10px 10px 10px;
    text-align: center;
}

ul{
    text-align: left;
}

button:hover{
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}

footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}
